{{ include('header.html.twig') }}

<div class="dashboard">
  <div class="columns">
    <div class="three-columns">
      <ul class="stats split-on-mobile">
        <li><strong class="blue" id="payoutScheme"></strong> mining <br />pool </a></li>
        <li><strong class="blue" id="networkHashRate"></strong> network <br />hashrate</li>
        <li><strong class="blue" id="networkDifficulty"></strong> difficulty<br>pay</li>
        <li><strong class="blue" id="poolEffort"></strong> pool <br />effort </a></li>
      </ul>
    </div>

    <div class="six-columns ">
      <h2 class="thin underline align-center" id="coinname"></h2>
      <form method="post" action="" id="walletform" class="columns" onsubmit="">
        <fieldset class="fieldset field-list  silver-bg">
          <div class="field-block button-height  silver-bg">
            <label for="walletAddress" class="label button-height">Wallet Address</label>
            <input type="text" name="walletAddress" id="walletAddress" size="50" class="input button-height" value="" placeholder="Enter wallet address">
            <button type="submit" class="button white-gradient"><span class="button-icon"><span class="icon-line-graph"></span></span>Load Wallet Data</button>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="three-columns">
      <ul class="stats split-on-mobile">
        <li><strong class="blue" id="poolHashRate"></strong> pool <br />hashrate </li>
        <li><strong class="blue" id="connectedPeers"></strong> connected <br />peers</li>
        <li><strong class="blue" id="poolFeePercent"></strong> pool <br />fee </a></li>
        <li><strong class="blue" id="minimumPayment"></strong> min<br>pay</li>
      </ul>
    </div>
  </div>
</div>


<div class="columns">
<div class="three-columns "></div>
  <div class="six-columns with-padding">
    <div class="with-padding">

    </div>

  </div>
  <div class="three-columns "></div>
  <div class="new-row three-columns">

  </div>
</div>



</div>

<script>
walletform.addEventListener("submit", (e) => {
  e.preventDefault();

  let address = document.getElementById("walletAddress");
  console.log("/pool/{{ pool_Id}}/dash/" + address.value);
  window.location.href = "/pool/{{ pool_Id}}/dash/" + address.value;

  // handle submit
});
</script>

      {{ include('footer_menu.html.twig') }}