{{ include('/header.html.twig') }}

      <div class="dashboard">
        <div class="columns">
          <div class="two-columns">
            <ul class="stats split-on-mobile">
              <li>
                <a href="#"> <strong class="blue" id="poolCount"></strong> mining <br />pools </a>
              </li>
              <li>
                <a href="#"> <strong class="blue" id="totalBlocks"></strong> blocks <br />found </a>
              </li>
              <li><strong class="blue" id="totalCoinPaid"></strong> Coins <br />paid</li>
              <li><strong class="blue">1</strong> cunt <br />coin</li>
            </ul>
          </div>
          <div class="one-column">
          </div>
          <div class="six-columns ">
            <h1 class="big-message align-center blue">Don't let a Karen win, fuck that cunt</h1>
          </div>
          <div class="one-column">
          </div>
          <div class="two-columns">
            <ul class="stats split-on-mobile">
              <li>
                <a href="#"> <strong class="blue" id="poolCount"></strong> mining <br />pools </a>
              </li>
              <li>
                <a href="#"> <strong class="blue" id="totalBlocks"></strong> blocks <br />found </a>
              </li>
              <li><strong class="blue" id="totalCoinPaid"></strong> Coins <br />paid</li>
              <li><strong class="blue">1</strong> cunt <br />coin</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="with-padding">
        <div class="columns">
          <div class="two-columns">

          </div>
          <div class="eight-columns">
            <div class="block margin-bottom">
              <span class="ribbon"><span class="ribbon-inner red-gradient glossy">New!</span></span>
              <h3 class="block-title glossy licarbonen">Current Cunts</h3>
              <table class="simple-table" id="pool-coins">
                <thead>
                  <tr>
                    <th class="coin border-0">Pool coin</th>
                    <th class="algo border-0">Algorithm</th>
                    <th class="miniers border-0">Miners</th>
                    <th class="pool-hash border-0">Pool Hashrate</th>
                    <th class="pool-ttf border-0">TTF</th>
                    <th class="fee border-0">Fee</th>
                    <th class="net-hash border-0">Network Hashrate</th>
                    <th class="net-diff border-0">Network Difficulty</th>
                    <th class="col-hide border-0"></th>
                  </tr>
                </thead>
                <tr class="coin-table-row"><td class="coin"><a href="/pool/kuntykaren"><img class="coinimg" src="../icon/kkk.png">Kunty Karen (KKK) </a></td><td class="algo">Plaintext</td><td class="miners">1</td><td class="pool-hash">--</td><td class="pool-ttf">∞</td><td class="fee"><span class="tag red-bg">PPLNS 95% </span></td><td class="net-hash">1 kH/s</td><td class="net-diff">0.000000001 </td><td class="gomine"><a href="pool/kkk.html"><button class="button">Go Mine <img class="coinimg" src="../icon/kkk.png">KuntyKaren</button></a></td></tr>
                <tbody class="pool-coin-table"></tbody>

              </table>
            </div>
          </div>
          <div class="two-columns">

          </div>
        </div>
      </div>
      <div class="new-row">
        <div class="with-padding">
          <div class="columns">
            <div class="two-columns">

            </div>
            <div class="four-columns">
              <div class="block margin-bottom">
                <h3 class="block-title glossy licarbonen">Recent Blocks Found</h3>
                <table class="simple-table responsive-table" id="pool-coins">
                  <thead>
                    <tr class="blocks">
                        <th>Found</th>
                        <th>Height</th>
                        <th>Effort</th>
                        <th>Status</th>
                        <th>Reward</th>
                        <th>Confirmation</th>
                    </tr>
                  </thead>
                  <tbody id="blockList"></tbody>
                </table>

              </div>
            </div>
            <div class="four-columns">
              <div class="block margin-bottom">
                <h3 class="block-title glossy licarbonen">Recent Payments Made</h3>

              </div>

            </div>
            <div class="two-columns">

            </div>
          </div>
        </div>


      </div>
      {{ include('/footer.html.twig') }}