{{ include('/header.html.twig') }}

      <div class="dashboard">
        <div class="columns">
          <div class="two-columns">
            <ul class="stats split-on-mobile">
              <li>
                <a href="#"> <strong class="blue" id="poolCount"></strong> mining <br />pools </a>
              </li>
              <li>
                <a href="#"> <strong class="blue" id="totalBlocks"></strong> blocks <br />found </a>
              </li>
              <li><strong class="blue" id="totalCoinPaid"></strong> Coins <br />paid</li>
              <li><strong class="blue">1</strong> cunt <br />coin</li>
            </ul>
          </div>
          <div class="one-column">
          </div>
          <div class="six-columns ">
            <h1 class="big-message align-center blue">Crypto Karen Mining Pool</h1>
            <h3 class="thin align-center">Ran into a Karen?  Memoralize it on the blockchain as a tradeable NFT.  Collect Karen's from all over the world!</h3>
            <h1 class="blue align-center intro wrapped emboss glow">Coming Soon!</h1>
          </div>
          <div class="one-column">
          </div>
          <div class="two-columns">

          </div>
        </div>
      </div>

      <div class="with-padding">
        <div class="columns">
          <div class="two-columns">
            <img src="{{ asset('img/cunt.png') }}" height="512px" class="align-center">

          </div>
          <div class="eight-columns">
            <div class="block margin-bottom">
              <span class="ribbon"><span class="ribbon-inner red-gradient glossy">Active</span></span>
              <h3 class="block-title glossy thin">Active Pools</h3>
              <table class="simple-table" id="pool-coins">
                <thead>
                  <tr>
                    <th class="coin border-0">Pool coin</th>
                    <th class="algo border-0">Algorithm</th>
                    <th class="miniers border-0">Miners</th>
                    <th class="pool-hash border-0">Pool Hashrate</th>
                    <th class="pool-ttf border-0">TTF</th>
                    <th class="fee border-0">Fee</th>
                    <th class="net-hash border-0">Network Hashrate</th>
                    <th class="net-diff border-0">Network Difficulty</th>
                    <th class="col-hide border-0"></th>
                  </tr>
                </thead>
                <tbody class="pool-coin-table"></tbody>

              </table>
            </div>
          </div>
          <div class="two-columns">
            <img src="{{ asset('img/cunt.png') }}" height="512px" class="align-center">
          </div>
        </div>
      </div>
      <div class="new-row">
        <div class="with-padding">
          <div class="columns">
            <div class="four-columns">

            </div>
            <div class="four-columns">
              <div class="block margin-bottom">
                <h3 class="block-title glossy thin">Recent Blocks Found</h3>
                <table class="simple-table responsive-table" id="pool-coins">
                  <thead>
                    <tr class="blocks">
                        <th>Found</th>
                        <th>Pool ID</th>
                        <th>Height</th>
                        <th>Effort</th>
                        <th>Status</th>
                        <th>Reward</th>
                        <th>Confirmation</th>
                    </tr>
                  </thead>
                  <tbody id="blockList"></tbody>
                </table>

              </div>
            </div>

            <div class="four-columns">

            </div>
          </div>
        </div>


      </div>
      {{ include('/footer.html.twig') }}