{{ include('header.html.twig') }}

<div class="dashboard">
  <div class="columns">
    <div class="two-columns">
      <ul class="stats split-on-mobile">
        <li><strong class="blue" id="payoutScheme"></strong> mining <br />pool </a></li>
        <li><strong class="blue" id="networkHashRate"></strong> network <br />hashrate</li>
        <li><strong class="blue" id="networkDifficulty"></strong> difficulty<br>pay</li>
        <li><strong class="blue" id="poolEffort"></strong> pool <br />effort </a></li>
      </ul>
    </div>
    <div class="two-columns"></div>

    <div class="four-columns">
      <h1 class="big-message align-center blue"><span id="canonicalName"></span> Pool Stats</h1>
      <div class="white-bg">
        <div id="chartStatsHashRate"></div>
      </div>
    </div>

    <div class="two-columns"></div>

    <div class="two-columns">
      <ul class="stats align-right">
        <li class="align-right"><strong class="blue" id="poolHashRate"></strong> pool <br />hashrate </li>
        <li><strong class="blue" id="connectedPeers"></strong> connected <br />peers</li>
        <li><strong class="blue" id="poolFeePercent"></strong> pool <br />fee </a></li>
        <li><strong class="blue" id="minimumPayment"></strong> min<br>pay</li>
      </ul>
    </div>
  </div>
</div>

<div class="with-padding">
  <div class="columns">
    <div class="two-columns">
      <h4 class="blue underline">Pool Info</h4>
      <dl class="definition inline">
        <dt>Blockchain Height</dt>
        <dd id="blockchainHeight"></dd>

        <dt>Total blocks found</dt>
        <dd id="totalBlocksFound"></dd>

        <dt>Total Paid</dt>
        <dd id="totalPaid"></dd>

        <dt>Last Block Found by Network</dt>
        <dd id="lastNetworkBlockFound">n/a</dd>

        <dt>Last Block Found by Pool</dt>
        <dd id="lastBlockFound">None found yet</dd>

        <dt>Price (USDT)<sup>*</sup><br></dt>
        <dd id="lastPrice"></dd>

        <dt>Payments Enabled</dt>
        <dd id="paymentProcessing"></dd>

        <dt>Algorithm</dt>
        <dd id="algorithm"></dd>

        <dt>Pool Address</dt>
        <dd id="poolAddress"></dd>
      </dl>
      <sup>*</sup>Pricing data provided by <a href="https://xeggex.com?ref=6532eac6a33821461194bedd" target="_blank">Xeggex</a>
    </div>
    <div class="four-columns">
      <div class="block margin-bottom">
        <h3 class="block-title">Pool Hashrate</h3>

        <div class="with-padding white-bg">
          <div id="chartStatsHashRatePool"></div>
        </div>
      </div>
    </div>

    <div class="four-columns">
      <div class="block margin-bottom">
        <h3 class="block-title">Difficulty</h3>
        <div class="with-padding white-bg">
          <div id="chartStatsDiff"></div>
        </div>
      </div>
    </div>
    <div class="two-columns">
      <h4 class="blue underline">Related Sites</h4>
      <dl class="definition inline">
        <dt>Website</dt>
        <dd id="website"></dd>

        <dt>Discord</dt>
        <dd id="discord"></dd>
      </dl>
    </div>
  </div>
</div>

{{ include('footer_menu.html.twig') }}
